[user]
	name = ghostbuster91
	email = kghost0@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[push]
	default = simple
[pull]
	rebase = true
[help]
	autocorrect = 8
