[user]
	name = ghostbuster91
	email = ghostbuster91@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
	hookspath = ~/.git-hooks
   	pager = diff-so-fancy | less -FXRi
[push]
	default = simple
[pull]
	rebase = true
[help]
	autocorrect = 8
[commit]
	template = ~/.git-commit-msg-template
[alias]
	gone = !bash ~/bin/git-gone.sh
